<div class="container-fluid">
  <table class="table-striped w-100">
    <thead>
      <th>Header1</th>
      <th>Header1</th>
      <th>Header1</th>
      <th>Header1</th>
    </thead>
    <tr>
      <td>cel1</td>
      <td>cel1</td>
      <td>cel1</td>
      <td><button class="btn btn-sm btn-block btn-outline-info imwb-btn-p">Edit</button></td>
    </tr>
    <tr>
        <td>cel1</td>
        <td>cel1</td>
        <td>cel1</td>
        <td><button class="btn btn-sm btn-block btn-outline-info imwb-btn-p">Edit</button></td>
      </tr>
      <tr>
          <td>cel1</td>
          <td>cel1</td>
          <td>cel1</td>
          <td><button class="btn btn-sm btn-block btn-outline-info imwb-btn-p">Edit</button></td>
        </tr>
        <tr>
            <td>cel1</td>
            <td>cel1</td>
            <td>cel1</td>
            <td><button class="btn btn-sm btn-block btn-outline-info imwb-btn-p">Edit</button></td>
          </tr>
  </table>
</div>